.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4267b2;
  border-radius: 4px 4px 0 0;
  height: 40px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: #000;
}

.leftInnerContainer h3 {
  color: #fff;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}
